<%- include("partials/header") -%>

<h1 class="header">Developers Contact</h1>

<h4 class="header">Team member :-</h4>
<p class="text">1. SHAILESH YOGENDRA</p>
<p class="text">2. YOGESH YOGENDRA</p>
<hr>
<h4 class="header">Phone number :-</h4>
<p class="text">9163594169 / 9748216094</p>
<hr>
<h4 class="header">Email address :-</h4>
<p class="text">yogeshyogendra786.yy@gmail.com</p>
<p class="text">snowpanther6@gmail.com</p>

</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script type="text/javascript">
if (location.protocol != 'https:')
{
location.href = 'https:' + window.location.href.substring(window.location.protocol.length);
}
</script>
</body>
</html>
